// Bootstrap Color Utilities
$primary: #E05252;
$secondary: #603939;
$success: #B4DC7F;
$info: #A1A1A1;
$warning: #C6A41C;
$danger: #D51414;
$body-bg: hsl(0, 0%, 95%);
$border-radius: 0.5rem;

// Bootstrap Mixin
@use "bootstrap/scss/bootstrap" with (
  $primary: $primary,
  $secondary: $secondary,
  $success: $success,
  $info: $info,
  $warning: $warning,
  $danger: $danger,
  $body-bg: $body-bg,
  $border-radius: $border-radius
);

// Theme Specific Rules
.paper {
  max-width: 1024px; 
  filter: drop-shadow(0px 0px 15px #dadadaff);
}

.versionText {
  color: #e3e3e3;
}