body {
    font-family: "PT Sans Caption", sans-serif;
    font-weight: 400;
}

h1,h2 {
    font-family: "Bowlby One", sans-serif;
    font-weight: 400;
}
h3,h4,h5,h6 {
    font-family: "PT Sans Caption", sans-serif;
    font-weight: 700;
}

cursor-pointer {
	cursor: pointer;
}

cursor-default {
	cursor: default;
}

.destroyOceanCityLogo {
    color: white;
    font-family: "Bowlby One", sans-serif;
    margin-right: 25px;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    text-shadow:
        0 1px 0 hsl(174,5%,80%),
	    0 2px 0 hsl(174,5%,75%),
	    0 3px 0 hsl(174,5%,70%),
	    0 4px 0 hsl(174,5%,66%),
	    0 5px 0 hsl(174,5%,64%),
	    0 6px 0 hsl(174,5%,62%),
	    0 7px 0 hsl(174,5%,61%),
	    0 8px 0 hsl(174,5%,60%),
	    0 0 5px rgba(0,0,0,.05),
	    0 1px 3px rgba(0,0,0,.2),
	    0 3px 5px rgba(0,0,0,.2),
	    0 5px 10px rgba(0,0,0,.2),
	    0 10px 10px rgba(0,0,0,.2),
	    0 20px 20px rgba(0,0,0,.3);
}

.destroy {
    color: #E05252;
    text-shadow:
        0 1px 0 hsl(0, 25%, 48%),
	    0 2px 0 hsl(0, 25%, 54%),
	    0 3px 0 hsl(0, 25%, 50%),
	    0 4px 0 hsl(0, 25%, 46%),
	    0 5px 0 hsl(0, 20%, 42%),
	    0 6px 0 hsl(0, 15%, 38%),
	    0 7px 0 hsl(0, 10%, 34%),
	    0 8px 0 hsl(0, 5%, 30%);
}

.themeToggleMenu {
	position: absolute;
	inset: 0px auto auto 0px;
	margin: 0px;
	transform: translate3d(-130px, 10px, 0px);
}
