<div class="card paper px-0 mb-4 mx-auto">
    <div class="card-body p-sm-2 p-md-5">
        <h1 class="oblique cursor-default">
            Meet the Heroes
        </h1>
        <h5 class="text-primary">
            These fine locals have taken up the mantle to keep Ocean City windmill free!
        </h5>
        <hr>
        <div class="row row-gap-4">
            <!-- Dr. Landslide -->
            <div class="col-12 col-md-6">
                <div class="card h-100">
                    <div class="card-body">
                        <div class="hero-intro-container">
                            <div class="hero-photo-container">
                                <img src="anonymous.jpg" class="hero-photo">
                            </div>
                            <div class="hero-title-container">
                                <span>
                                    <h5 class="text-primary hero-title-text">
                                        Dr. Steven Landslide
                                    </h5>
                                    <h6 class="text-secondary hero-title-text">
                                        Managing Director
                                    </h6>
                                </span>
                            </div>
                        </div>
                        <p>
                            Dr. Steven Landslide earned his Ph.d. in Petroleum Engineering online from the <strong>University of Ocean City University College Down by the Inlet Campus</strong> in 2002.
                        </p>
                        <p>
                            Steven grew up in Berlin; near Ocean City, and had nearly drowned during childhood by running into the ocean, setting himself on a course for a love of terresterial studies and distrust of natural phenomena.
                        </p>
                        <div class="text-center">
                            <a class="link">
                                Read more from {{`{$this.author.name}`}}
                            </a>
                        </div>
                    </div>
                    <div class="card-footer">
                        <h6>
                            Fact Sheet
                        </h6>
                        <ul class="list-group mb-2">
                            <li class="list-group-item">
                                Taurus, definitely
                            </li>
                            <li class="list-group-item">
                                Earned his doctorate from an unaccredited university
                            </li>
                            <li class="list-group-item">
                                Favorite song: "Smoke on the Water" by Deep Purple
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Choal -->
            <div class="col-12 col-md-6">
                <div class="card h-100">
                    <div class="card-body">
                        <div class="hero-intro-container">
                            <div class="hero-photo-container">
                                <img src="anonymous.jpg" class="hero-photo">
                            </div>
                            <div class="hero-title-container">
                                <span>
                                    <h5 class="text-primary hero-title-text">
                                        Carmine Choal
                                    </h5>
                                    <h6 class="text-secondary hero-title-text">
                                        Industry Expert Contributer
                                    </h6>
                                </span>
                            </div>
                        </div>
                        <p>
                            Carmine Choal retired in Ocean City in 2024 after cedeing control and offshoring his coal processing company <strong>Carmine's Green Coal</strong> in an elaborate AI scam the year prior.
                        </p>
                        <p>
                            Carmine inherited his fossil fuel businesses from his father, and has lobbied the Government for decreased regulation and against renewable energy production.
                        </p>
                        <p>
                            Carmine can usually be found at the Crab Roller on 167th street harassing minimum wage employees.
                        </p>
                        <div class="text-center">
                            <a class="link">
                                Read more from {{`{$this.author.name}`}}
                            </a>
                        </div>
                    </div>
                    <div class="card-footer">
                        <h6>
                            Fact Sheet
                        </h6>
                        <ul class="list-group mb-2">
                            <li class="list-group-item">
                                Drives slowly
                            </li>
                            <li class="list-group-item">
                                Also wears his cowboy hat to bed
                            </li>
                            <li class="list-group-item">
                                Superstitious of new things
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Rupert -->
            <div class="col-12 col-md-6">
                <div class="card h-100">
                    <div class="card-body">
                        <div class="hero-intro-container">
                            <div class="hero-photo-container">
                                <img src="anonymous.jpg" class="hero-photo">
                            </div>
                            <div class="hero-title-container">
                                <span>
                                    <h5 class="text-primary hero-title-text">
                                        Rupert Paulson
                                    </h5>
                                    <h6 class="text-secondary hero-title-text">
                                        Staff Contributer
                                    </h6>
                                </span>
                            </div>
                        </div>
                        <p>
                            Rupert came to us as a volunteer contributor, and grew to become a <strong>full-fledged</strong> DOC! contributor.
                        </p>
                        <p>
                            We know <strong>very little</strong> about his past, other than he is an astounding team player, and excellent man to work with. Our attorneys told us that this arrangement was in our mutual best interests.
                        </p>
                        <div class="text-center">
                            <a class="link">
                                Read more from {{`{$this.author.name}`}}
                            </a>
                        </div>
                    </div>
                    <div class="card-footer">
                        <h6>
                            Fact Sheet
                        </h6>
                        <ul class="list-group mb-2">
                            <li class="list-group-item">
                                Has never been on TV
                            </li>
                            <li class="list-group-item">
                                Carries a lot of credit card debt
                            </li>
                            <li class="list-group-item">
                                Voted for Barack Obama in 2008
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- MacBaloney -->
            <div class="col-12 col-md-6">
                <div class="card h-100">
                    <div class="card-body">
                        <div class="hero-intro-container">
                            <div class="hero-photo-container">
                                <img src="anonymous.jpg" class="hero-photo">
                            </div>
                            <div class="hero-title-container">
                                <span>
                                    <h5 class="text-primary hero-title-text">
                                        Louis G. MacBaloney
                                    </h5>
                                    <h6 class="text-secondary hero-title-text">
                                        Staff Contributer
                                    </h6>
                                </span>
                            </div>
                        </div>
                        <p>
                            Rupert comes to us as a volunteer contributor, and we know very little about his past.
                        </p>
                        <p>
                            When Louis was a child, he aspired to become a famous basketball player.
                        </p>
                        <div class="text-center">
                            <a class="link">
                                Read more from {{`{$this.author.name}`}}
                            </a>
                        </div>
                    </div>
                    <div class="card-footer">
                        <h6>
                            Fact Sheet
                        </h6>
                        <ul class="list-group mb-2">
                            <li class="list-group-item">
                                Single
                            </li>
                            <li class="list-group-item">
                                Over 7 feet tall
                            </li>
                            <li class="list-group-item">
                                Likes to let loose on the weekends
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Wine mom -->
            <div class="col-12 col-md-6">
                <div class="card h-100">
                    <div class="card-body">
                        <div class="hero-intro-container">
                            <div class="hero-photo-container">
                                <img src="anonymous.jpg" class="hero-photo">
                            </div>
                            <div class="hero-title-container">
                                <span>
                                    <h5 class="text-primary hero-title-text">
                                        Gigi Santana
                                    </h5>
                                    <h6 class="text-secondary hero-title-text">
                                        Volunteer Contributer
                                    </h6>
                                </span>
                            </div>
                        </div>
                        <p>
                            Gigi is a single <strong>mother of six</strong> first, defender of Ocean City second kind of woman.
                        </p>
                        <p>
                            She moved to Ocean City after a tragic Dutch windmill accident claimed the live of one of her children while she lived with her husband near The Hague.
                        </p>
                        <div class="text-center">
                            <a class="link">
                                Read more from {{`{$this.author.name}`}}
                            </a>
                        </div>
                    </div>
                    <div class="card-footer">
                        <h6>
                            Fact Sheet
                        </h6>
                        <ul class="list-group mb-2">
                            <li class="list-group-item">
                                Puts ice cubes in her wine
                            </li>
                            <li class="list-group-item">
                                Has never been in Washington DC on any January 6th
                            </li>
                            <li class="list-group-item">
                                Arrested in 2018 for DIP
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>