.alert-container {
    margin: 1rem 0;
}

.alert {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    background: transparent;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

.alert.success { background-color: #2e7d32; }
.alert.error { background-color: #c62828; }
.alert.warning { background-color: #ed6c02; }
.alert.info { background-color: #0277bd; }
