<div class="container my-4" style="min-height:600px;">
  @if (post(); as isolatedPost) {
    <!-- Single Post View -->
    <app-postViewer [post]="isolatedPost"></app-postViewer>
  } @else {
    <!-- Promoted Posts List -->
    <h1>
      See what our Experts have to Say:
    </h1>
    <div class="row row-cols-1 row-cols-md-3 g-4">
      @for (post of posts(); track post.id) {
        <div class="col">
          <div class="card">
            <app-postPreviewer [post]="post"></app-postPreviewer>
          </div>
        </div>
      }
    </div>
  }
</div>

