.landing-sk-image {
  height: 225px;
  background: var(--doc-skeleton-bg);
}

.landing-sk-title {
  height: 1.5rem;
  width: 78%;
  margin-bottom: 1rem;
}

.landing-sk-author {
  height: 2.2rem;
  width: 45%;
  margin-top: 1.3rem;
  background: var(--doc-skeleton-bg);
}
