<section class="landing-heading">
  <h2>
    A storm is coming...
  </h2>
  <p>
    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
  </p>
</section>

<section class="recent-posts">
  <h2>See What the Experts are Saying:</h2>
  <div class="row row-cols-1 row-cols-md-3 g-4 mt-1">
    @if (posts().length === 0) {
      <div class="col">
        <div class="card">
          <div class="card-body">
            <p>
              No posts to display.
            </p>
          </div>
        </div>
      </div>
    } @else {
      @for (post of posts(); track $index) {
        <app-postPreviewer [post]="post" [uniformHeight]="true"></app-postPreviewer>
      }
    }
  </div>
</section>