<section class="landing-heading mt-2 cursor-default">
  <div class="jumbotron">
    <h1 class="display-3 oblique">
      A storm is coming...
    </h1>
    <p>
      Sometimes, you have to destroy the thing you love to truly save it.
    </p>
    <p>
      Outsiders want to install off-shore Windmills on our beautiful beaches. Did you know Windmills are three times taller than the Sears Tower? Stand united with us at DESTROY OCEAN CITY! and help save our beautiful city! 
    </p>
    <p>
      <a class="btn btn-primary text-white btn-lg" href="javascript(0):void;" [routerLink]="['/blog']" role="button">
        Learn OUR Facts »
      </a>
    </p>
  </div>
</section>

<hr>

<section class="recent-posts">
  <h2 class="text-secondary cursor-default mb-2">
    <i class="bi bi-megaphone-fill text-primary"></i>&nbsp;<span class="oblique-secondary">See What the Experts are Saying:</span>
  </h2>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    @if (posts().length === 0) {
      <div class="col">
        <div class="card">
          <div class="card-body">
            <p>
              No posts to display.
            </p>
          </div>
        </div>
      </div>
    } @else {
      @for (post of posts(); track $index) {
        <div class="col">
          <div class="card h-100">
            <app-postPreviewer [post]="post" [cropFeaturedImage]="true"></app-postPreviewer>
          </div>
        </div>
      }
    }
  </div>
</section>

<hr>