<div class="card paper px-0 mb-4 mx-auto">
    <div class="card-body p-sm-2 p-md-5">
        <h1 class="oblique cursor-default">
            Merchandising
        </h1>
        <h5 class="text-primary">
            Our content may be AI slop, but our T-shirts sure ain't!
        </h5>
        <hr>
        <p>store-view works!</p>
        <p class="text-danger alert-danger monospace">
            routerOutlet: Could not get "Store" component configuration applet. See build error log.
        </p>
    </div>
</div>
